
<table  width="250" height="470" border="0">
	<td valign="top"><div class="blok">
			<span class="name">News & Events</span><br>
			<br> <span class="ser">[09.03.2012]</span><br> <a href="/svarn/view/html/news.html" target="test2"
				class="read">Saving interest changed to 6% now</a><br> Now we
			are providing 6% rate of interest to customer... <br>
			<br> <span class="ser">[26.02.2012]</span><br> <a href="view/html/news.html" target="test2"
				class="read">Results for P.O.</a><br> Results declared
			for P.O. on 27th Jan check... <br>
			<br> <span class="ser">[14.02.2012]</span><br> <a href="view/html/news.html" target="test2"
				class="read">Apply for loan online</a><br> Now customer can
			open online banking account...
		</div></td>
</table>