<link href="/svarn/view/CSS/MyStyle.css" rel="stylesheet"
	type="text/css" />

<br>
<b class="loan_head">CAR LOAN</b>
<br>
<br><table border="0" color="black" align="center">
<tr><td>we are providing 13% of intrest rate<br><br><br><br><br><br><br></td></tr></table>
<p class="head1">Documents Required You would need to submit the
	following along with the completed application form:</p>
<ul>
	<li>Statement of Bank account of the borrower for last 6 months.</li>
	<li>2 passport size photographs of borrower(s).</li>
	<li>Signature identification from bankers of borrower(s).</li>
	<li>A copy of passport /voters ID card/PAN card.</li>
	<li>Proof of residence.</li>
	<li>Latest salary-slip showing all deductions</li>
	<li>I.T. Returns/Form 16: 2 years for salaried employees and 2
		years for professional/self-employed/businessmen duly accepted by the
		ITO wherever applicable</li>
	<li>Proof of official address for non-salaried individuals</li>
</ul>


