<link href="/svarn/view/CSS/MyStyle.css" rel="stylesheet"
	type="text/css" />
<br>
<b class="loan_head">EDUCATION LOAN</b>
<br>
<br><table border="0" color="black" align="center">
<tr><td>we are providing 10% of intrest rate<br><br><br><br><br><br><br></td></tr></table>
<p class="head1">Documents Required You would need to submit the
	following along with the completed application form:</p>
<ul>
	<li>Admission letter of the Educational Institute giving details
		of year wise fee, boarding and lodging expenses. Letter confirming
		scholarship, if any.</li>
	<li>Attested copies of documents for proof of age/date of birth
		and proof of residential address.
	<li>Passport size photo of the applicant, co-obligants and
		guarantors.</li>
	<li>Copy of marksheets/degree certificates of previous academic
		qualifications.</li>
	<li>Income proof/latest income tax return of parents/co-obligants,
		guarantors. (if any)</li>
	<li>Details of collateral security along with valuation
		certificate of Govt approved valuer (if any).</li>
	<li>Details/statements of Bank accounts held by the student
		applicant/co-obligant(s)/guarantors (if any) for the last six months.</li>
	<li>Copy of Passport/Visa,</li>
	<li>cost of air fare (documentary detail) in case of studies
		abroad.</li>
</ul>

