<link href="/svarn/view/CSS/MyStyle.css" rel="stylesheet"
	type="text/css" />
<br>
<b class="loan_head">LOAN AGAINST PROPERTY</b>
<br>
<p class="head2">Loan against Property / Mortgage loan is obtained
	by the way of mortgaging the asset with the lending institute. The
	value of an asset or property should be enough to qualify the sanction
	of the loan amount as needed by the borrower.This mortgaged property
	may be liquidated by the lending institute in case a borrower fails to
	pay the loan.The interest rates are higher than Home Loan but cheaper
	than Personal Loans or Loans against Securities.</p>

<p class="head1">Documents Required You would need to submit the
	following along with the completed application form:</p>
<ul>
	<li>Pan Card is Mandatory.</li>
	<li>For proof of Identity : Pan Card/ Passport/ Voting I Card/
		Driving license.</li>
	<li>Age Proof : Pan Card/ Passport/ Driving License.</li>
	<li>Residence Proof : Electricity bill/ Passport/ Telephone bill.</li>
	<p class="head1">Income documents for :</p>

	<li>Self employed -- 3 yrs Income Tax Returns.</li>
	<li>Salaried --- Form 16 for last 3 yrs & Salary certificate for
		previous three months.</li>
	<li>Copy of bank statement for previous six months, reflecting
		salary or the regular business transactions.</li>
	<li>Work Experience :- Minimum two years for salaried as well as
		self employed.</li>
	<li>4 Photos</li>
</ul>