<link href="/svarn/view/CSS/MyStyle.css" rel="stylesheet" type="text/css" />

<table border="0" >
	<tr >
		<td height="500" width="1100">
			<div>
				<p class="heading1" >Site Map</p>
				<table border="0">
					<tr>
						<td>
							<table border="0" width="300">
								<tr>
									<td><ul>
											<li class="sitemaphead">Home</li>
										</ul>

										<div class="sitemaphead1">Profile</div>
										<ul>
											<div class="sitemaplinks">
												<li class="A"><a href="/svarn/index.jsp" target="_top">About
														OnlineSVARN</a></li>
												
												<li class="A"><a href="/svarn/view/html/ContactUs.html"
													target="test2">Contact Us</a></li>
												<li class="A"><a href="/svarn/view/html/Feedback.html"
													target="test2">Feedback</a></li>
												<li class="A"><a
													href="/svarn/view/html/TermCondition.html" target="test2">Terms
														of Service (Terms &amp; Conditions)</a></li>
											</div>
										</ul>
								</tr>

							</table>
						</td>
						<td>
							<table border="0">
								<tr width="300">
									<td>
										<ul>
											<li class="sitemaphead">What's New</li>
										</ul>

										<div class="sitemaphead1">News & Events</div>
										<ul>
											<div class="sitemaplinks">
												<li class="A"><a href="/svarn/view/html/news.html" >Saving
														interest changed to 6%</a></li>
												<li class="A"><a href="/svarn/view/html/news.html" >Results
														declared for P.O.</a></li>
												<li class="A"><a href="/svarn/view/html/news.html">Apply
														for loan online</a></li>
												<li><br></li><li><br></li>
											</div>

										</ul>
								</tr>

							</table>
					</tr>


					<table border="0">
						<tr width="300">
							<td>
								<ul>
									<li class="sitemaphead">Login</li>
								</ul>

								<div class="sitemaphead1">Access</div>
								<div class="sitemaplinks">
									<ul>
										<div class="sitemaplinks">
											<li class="A"><a href="/svarn/index.jsp" target="_top">Personal
													Banking</a></li>
											<li class="A"><a href="/svarn/index.jsp" target="_top">Corporate
													Banking</a></li>
											<li class="A"><a
												href="/svarn/view/usermgmt/home/RegisterForIBS.jsp" target="test2">Register for
													IBS</a></li><li><br></li>
										</div>

									</ul>
							</td>
							<td>
								<table border="0">
									<tr width="300">
										<td><ul>
												<li class="sitemaphead">Services</li>
											</ul>

											<div class="sitemaphead1">Personal Banking</div>
											<ul>
												<div class="sitemaplinks">
													<li class="A"><a href="/svarn/index.jsp" target="_top">
															Account Statement</a></li>
													<li class="A"><a href="/svarn/index.jsp" target="_top">Funds
															Transfer</a></li>
													<li class="A"><a href="/svarn/index.jsp" target="_top">Demand
															Draft</a></li>
													<li class="A"><a href="/svarn/index.jsp" target="_top">Bill
															Payment</a></li>
												</div>

											</ul>
									</tr>

								</table>
							</td>
							<td>
								<table border="0">
									<tr width="300">
										<td><ul>
												<li class="sitemaphead">Resources</li>
											</ul>

											<div class="sitemaphead1">Utilities</div>
											<ul>
												<div class="sitemaplinks">
													<li class="A"><a
														href="/svarn/view/usermgmt/registration/Content.jsp" target="test2">New
															User Registration</a></li><li><br></li><li><br></li><li><br></li>
													
												</div>

											</ul>
									</tr>

								</table>
							</td>
					</table>

				</table>
		</td>


	</tr>
</table>
