<html>
<head>
<link rel="icon" href="/svarn/view/Images/logo.ico" type="image/x-icon">
<link href="/svarn/view/CSS/des_slids.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript" src="/svarn/view/js/des_slids.js"></script>
</head>
<body>
	<table>
		<tr><td>
			<u><h1>CURRENT ACCOUNT</h1> </u></td>
		</tr>
		<tr>
			<td><p>Now, with a Svarn Bank
					Current Account, experience the freedom of multi-city banking! You
					can have the power of multi-location access to your account from
					any of our 6 branches in 10 cities. Not only that, you can do most
					of your banking transactions from the comfort of your office or
					home without stepping out.</p>

				<p>We make it our business to help you with your business by
					offering you a Current Account with all the benefits you need to
					stay ahead of your competition.</p></td></tr><tr>
		<td><a
				href="/svarn/view/usermgmt/registration/CompanyRegistrationPage.jsp"
				 TARGET="_top"><button type="button">Apply For
						Current Account</button> </a>
			</td>
		</tr>
		
		<tr><td>

				<div class="heading">
					<li><b>General features of Current Accounts include:</b></li>
				</div>
				<div class="subHeading">
					<div>
				<ul>
					<li>Multi-location Funds transfer</li>
				</ul>
				<ul>
					<li>Anywhere deposit and withdrawal</li>
				</ul>
				<ul>
					<li>Electronic Funds Transfer</li>
				</ul>
				<ul>
					<li>Corporate Internet Banking</li>
				</ul>
				<ul>
					<li>Customer Care</li>
				</ul>
				</div></div></td>
		</tr>
	</table>
</body>
</html>
