<html>
<head>
<link rel="icon" href="/svarn/view/Images/logo.ico" type="image/x-icon">
<link href="/svarn/view/CSS/des_slids.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript" src="/svarn/view/js/des_slids.js"></script>
</head>
<body>
	<table>
		<tr>
			<td><u><h1>FIXED DEPOSIT</h1> </u></td>
		</tr>
		<tr>
			<td>Long-term investments form the chunk of everybody's future
					plans. An alternative to simply applying for loans, fixed deposits
					allow you to borrow from your own funds for a limited period, thus
					fulfilling your needs as well as keeping your savings secure.</td>
		</tr>
		<tr>
			<td><a
				href="/svarn/view/usermgmt/registration/RegistrationPage.jsp"  TARGET="_top"><button
						type="button">Apply for Fixed Deposit</button> </a></td>
		</tr>
		<tr>
			<td>
				<div class="heading">
					<li><b>Flexibility of tenure -</b></li>
				</div>
				<div class="subHeading">
					<div>
						<ul>
							7 days to 10 years
						</ul>
					</div>
				</div>
				<div class="heading">
					<li><b>Liquidity</b></li>
				</div>
				<div class="subHeading">
					<div>
						<ul>
							<ul>
								<li>Premature / Partial withdrawal permitted (subject to
									applicable charges)</li>
							</ul>
							<ul>
								<li>Loan / Overdraft upto 90% of FD amount</li>
							</ul>
							<ul>
								<li>Option of monthly / quarterly payout available</li>
							</ul>
						</ul>
					</div>
				</div>
				<div class="heading">
					<li><b>Competitive interest rate -</b></li>
				</div>
				<div class="subHeading">
					<div>
						<ul>
							<a
								href="FixDepositInterestRate.html"> Know interest rates</a> for
								various tenures
						</ul>
					</div>
				</div>
				<div class="heading">
					<li><b>Convenient ways to open a FD</b></li>
				</div>
				<div class="subHeading">
					<div>
						<ul>
							
							<ul>
								<li>Internet Banking</li>
							</ul>
							<ul>
								<li>Svarn Bank Branch</li>
							</ul>
						</ul>
					</div>
				</div></td>
		</tr>
	</table>
</body>
</html>