
<link rel="icon" href="/svarn/view/Images/logo.ico" type="image/x-icon">
<link href="/svarn/view/CSS/MyStyle.css" rel="stylesheet">

	<table>
		<tr>
			<td>
				<h1>
					<u><b class="loan_head">TERMS AND CONDITIONS</b></u>
					<ul>
					<p class="head2"><li>SVARN will use and process the personal data supplied by
						[you] for the purpose of maintaining and operating the Website.
						This includes your contact details and other information comprised
						in the Materials, including sensitive personal data comprising
						information on race and ethnic origin which is optional but which
						SVARN collects in order to monitor compliance with
						anti-discrimination legislation and which may be relevant for
						certain Website users.</li>
						<li>All the Materials supplied by you on
						Application and subsequently will be available for public access
						on the Website except for your contact details. Contact details
						may however be passed by Axis to users of the Website who may wish
						to contact you with work opportunities, subject to SVARN normal
						procedures and User Terms and Conditions Your personal data may
						also need to be shared by Axis with its service providers.</li>
						<li> SVARN may contact you from time to time to inform you of work
						opportunities and to keep you informed about Axis and its
						services.</li></p>
					</ul>
				</h1>
			</td>
		</tr>
		<tr>
			<td></td>
		</tr>
	</table>

