<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Welcome</title>
</head>
<body>
<h3>Welcome to SVARN</h3>

<p>
Welcome to SVARN bank, We are excited to improve our services and allow you to do your banking when it is convenient for you in the comfort of your own home or office. We appreciate the value of your business and are committed to satisfying your banking needs each time you visit SVARN Bank online or any of our branch locations. We hope you will find our web-site interesting and informative.
</p>
<br/>
<br/>
<br/>
<br/>
<br/>

<img src="/svarn/view/Images/welcome.png" align="centre">
</body>
</html>